
 .tab, .tab caption
{
    margin: auto;
}

 .tab
{
    border: #DDEEFF 2px solid;
    border-collapse: separate;
    border-spacing: 2px;
    empty-cells: hide;
}

.tab caption
{
    background-color: #DDEEFF;
	font-size: 0.8em;
}

 .tab th
{
    color: #996600;
    background-color: #FFCC66;
    border: #FFCC66 1px solid;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 1px;
}

 .tab td
{
    border: #DDEEFF 1px solid;
    padding-left: 10px;
    width: 90px;
}

 .navcol
{
    width: 200px;
    background-color:  #F4FAFD; /*#def0f9;*/
}

.navcoleuro
{
    width: 50px;
    background-color:  #F4FAFD; /*#def0f9;*/
}

.suppr
{
    width: 50px;
    background-color:  #f8f9f9; 
}

 .numcol
{
    width: 150px;
}

 .tab tfoot
{
    font-size: 0.8em;
    background-color: #FFCC66;
    color: #996600;
    letter-spacing: 1px;
}